<meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">

<div class="homepage-background">
  <div class="homepage-content">
    <!-- Shared Header -->
    <app-header></app-header>
  
    <app-xxe-attack-animation></app-xxe-attack-animation>
    <!-- Dynamic Page Content -->
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>

    <!-- Shared Footer -->
    <app-footer></app-footer>
  </div>
</div>